main.LaVi_Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5rem;
    padding: 5px;
    overflow: scroll;
}

.LaVi_label {
    display: flex;
    border-radius: 10px;
    background-color: var(--color-one);
    color: var(--color-four);
    padding: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
    &.LaVi_label:hover:not(.dragging) {
        background-color: var(--color-four);
        color: var(--color-one);
        border-radius: 10px;
    }
    &.dragging {
        border: 2px solid var(--color-four);
    }
    &.holding {
        background-color: var(--color-four);
        color: var(--color-one);
        border-radius: 10px;
        border: 2px dashed var(--color-one);
    }
}

.LaVi_DialogContainer {
    padding: 5px;
}

@media (max-width: 1024px) {
    main.LaVi_Container {grid-template-columns: 1fr 1fr 1fr;}
}

@media (max-width: 768px) {
    main.LaVi_Container {grid-template-columns: 1fr 1fr;}
}