.Dialog_Background {
    background: rgb(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    &:has(.bottom) {
        align-items: flex-end;
    }
}
.Dialog_Container {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    position: absolute;
    z-index: 15;
    border-radius: 5px;
    max-width: 80vw;
    max-height: 80vh;
    background: var(--color-one);
    color: var(--color-four);
    padding: 5px;
    &.bottom {
        width: 90vw;
        max-width: 800px;
    }
    .Dialog_Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: x-large;
        padding-left: 5px;
        font-weight: bolder;
        color: var(--color-five);
    }
    .Dialog_Body {
        overflow: auto;
    }
    .Dialog_Footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px;
    }
}